
<section id="todoapp" ng-controller="TodoCtrl">

    <header id="header">
        <h1>Todo List</h1>
        <form action="" id="todo-form" ng-submit="addTodo()">
            <input type="text" id="new-todo" placeholder="{{placeholder}}"
                   autofocus autocomplete="off" ng-model="newtodo">
        </form>
    </header>

    <section id="main">
        <input type="checkbox" id="toggle-all" ng-model="allchecked"
               ng-click="checkAllTodo(allchecked)">
        <ul id="todo-list">
            <li ng-repeat="todo in todos | filter:statusFilter | orderBy:'completed'"
                ng-class="{completed : todo.completed, editing: todo.editing}"
                ng-dblclick="todo.editing = true">
                <div class="view">
                    <input type="checkbox" class="toggle" ng-model="todo.completed">
                    <label>{{todo.name}}</label>
                    <button class="destroy" ng-click="removeTodo($index)"></button>
                </div>
                <form action="">
                    <input class="edit" ng-model="todo.name" ng-blur="editTodo(todo)">
                </form>
            </li>
            <footer id="footer">
                <span id="todo-count">
                    <strong>{{remaining}}</strong> tâches restantes.
                </span>
                <ul id="filters">
                    <li><a href="" ng-click="filterTodo(null)" ng-class="{selected: statusFilter == {}}">All</a></li>
                    <li><a href="" ng-click="filterTodo(false)" ng-class="{selected: statusFilter.completed == false}">Active</a></li>
                    <li><a href="" ng-click="filterTodo(true)" ng-class="{selected: statusFilter.completed == true}">Completed</a></li>
                </ul>
            </footer>
        </ul>
    </section>

</section>